.Navbar-header {
  width: 100%;
  background-color: #cb1c8d;
  padding: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.Navbar-header > h1 {
  color: #4b56d2;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  font-weight: bold;
}

.Navbar-header > img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 20%;
  border: #4b56d2 solid 2px;
  box-shadow: 0 0 0.5rem 0.1rem rgb(255, 255, 255);
}
